.pre-footer {
	background: #d7d7d7;
	padding: 25px 0;
	h4 {
		border-bottom: 1px solid #666;
		padding-bottom: 10px;
	}
	.menu {
		margin: 10px 0;
		float: left;
		.menu-item {
			float: left;
			width: 100%;			
		}
	}
}

.footer {
	background: #5c73b6;
	margin-top: 0;
	padding: 15px 0;
}