// Fonts
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900,200,500,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);


// Base Styles

input[type=submit] {
	background: #d26b48;
	transition: .2s all;
	&:hover {
		background-color: #e2a06e;
	}	
}
.dropdown.menu .submenu {
	z-index:2;
}

//Video
.vjs-big-play-button {
	display:none !important;
}
.vjs-poster {
	background-size: cover !important;
}
.vjs-tech {
	cursor: pointer;
}

//Columns 
.single-post {
	.below-date {
	    width: 20%;
	    margin: 0 0 15px 0;
	    border: 1px solid #167ac6;
	    float: left;
	}		
	.blog-post-date {
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    padding-top: 22px;
	}	
	.page-title {
		text-align: left;
	}
	.dotted-line {
		border-bottom: 1px dashed #666;
		margin-bottom: 22px;
		padding-bottom: 10px;
	}
}

.page-title {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	text-transform: uppercase;
	color: #167ac6;		
	padding-bottom: 20px;
  padding-top: 15px;	
	span {
	 display: inline-block;
	 position: relative;
	}
}		
.page-title span:before, .page-title span:after {
	content: "";
	position: absolute;
	height: 5px;
  border-bottom: 1px dotted #666;
  border-top: 1px dotted #666;
	top: 33px;
	width: 100px;
}
.page-title span:before {
	right: 100%;
	margin-right: 15px;
}
.page-title span:after {
	left: 100%;
	margin-left: 15px;
}	

body {
	#content {
		padding-top:110px;		
	}
}

// Header
#logo {
  background: url(../images/logo1.png);
  display: block;
  width: 275px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: center center;
}

header {
	position: fixed;
	width: 100%;
	z-index: 3;	
	.top-bar {
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(187,212,230,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(187,212,230,1)));
		background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(187,212,230,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(187,212,230,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(187,212,230,1) 100%);
		background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(187,212,230,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bbd4e6', GradientType=1 );
		ul {
			background-color: rgba(255, 255, 255, 0);
		}
		.menu-item {
			a {
		    text-transform: uppercase;
		    font-family: 'Raleway', sans-serif;
		    color: #167ac6;
		    padding: 2.1rem 0.7rem;
		    font-size: 1.1rem;
		    font-weight: 600;
		    transition: .2s all;
		    &:hover {
			    color: #3A4E5D;
		    }
			}
		}
		.menu-item.current-menu-item {
			a {
		  	color: #3A4E5D;
		  }	
		}		
	}
}


// Homepage Features
.homepage-features {
	position:relative;
	.overlay {
		position: absolute;
		width:100%;
		height:100%;
		top: 0;
		left: 0;
		opacity: .85;
		z-index: 1;
	}
	// Book
	.book-promo-img {
		position: relative;
		z-index:1;
	  padding-top: 70px;	
	  padding-bottom: 70px;		
    a {
	    color: #000;
    }	    	
		img {
	    height: 90%;				
	    width: 90%;
	    float: right;
	    box-shadow: 0px 9px 55px -7px;
		}
	}
	.book-bg-image {
		position:absolute;
		width: 100%;
		height:100%;
		background-size: cover;
		z-index: 0;		
	}
	.book-promo-info {
		position: relative;
		z-index: 1;
	  padding-top: 70px;	
	  padding-bottom: 70px;			
		h2 {
			font-family: 'Roboto Slab', serif;
			line-height: 35px;
			text-transform: uppercase;
			text-align: left;
			color: #fff;
		}	
		h5 {
			font-family: 'Raleway', sans-serif;
			color: #ddd;			
			margin-bottom: 25px;			
			font-weight: 500;
		}
		.secondary {
			border: 1px solid #fff;
			color: #fff;
			&:hover {
				border: 1px solid rgba(255, 255, 255, 0.7);
				color: rgba(255, 255, 255, 0.7);				
			}
		}	
		p {
			color: #fff;
			margin-bottom: 25px;
		}
		.feature-purchase-book {
			i {
				margin-left: 15px;
			}
		}
		.purchase-options {
			padding: 0;
			width: 200px;
			.book-purchase {
				width: 100%;
				border-bottom: 1px solid #ddd;
				display: block;
				padding: 10px;
				&:last-of-type {
					border-bottom: 0px solid #ddd;
				}
			}
		}
		.book-blurb-section {
			.book-blurb-carousel {
				display:none;
				margin-left: 0;
				margin-top: 10px;
				background-color: rgba(0, 0, 0, 0.1);
				font-size: .9rem;
				padding: 10px;
				font-style: italic;				
				.book-blurb {
					margin-left: 0;
					.blurb-text {
						float: left;
						width: 100%;
						color: #ddd;
					}
					.blurb-author {
						float: left;
						width: 100%;
						color: #EAF5F9;
						font-style: italic;
						font-weight: 600;
					}
				}
				.slick-arrow {
					display: none !important;
				}
			}
			.blurb-controls {
				float: right;
				margin-top: -20px;
				margin-right: -5px;				
				.blurb-left, .blurb-right {
					padding: 5px;
					color: #2199e8;
					cursor: pointer;
					font-size: 2rem;
				}
			}	
		}
	}
	
	// Event 
	.event-info {
		z-index: 1;
		position: relative;
    padding: 55px 0 55px 140px;
		h2 {
			font-family: 'Roboto Slab', serif;
			line-height: 35px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
		}
		h4 {
			margin-bottom: 20px;
			font-family: 'Raleway', sans-serif;
			text-align: center;
			text-transform: uppercase;
			color: #9bb8d8;
			font-weight: bold;			
			text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.6);			
			span {
			 display: inline-block;
			 position: relative;
			}
		}		
		h4 span:before, h4 span:after {
			content: "";
			position: absolute;
			height: 5px;
			border-bottom: 2px solid #eaeaea;
			top: 13px;
			width: 100px;
		}
		h4 span:before {
			right: 100%;
			margin-right: 15px;
		}
		h4 span:after {
			left: 100%;
			margin-left: 15px;
		}		
		.event-location {
			display: table;
			font-size: 0.85rem;
			margin: 0 auto;
			padding-top: 10px;
			line-height: 13px;
			font-weight: 500;
			.event-location-info {
				float: left;
				font-family: 'Raleway', sans-serif;
				text-transform: uppercase;
				padding: 0 20px;
				color: #fff;
				margin-bottom: 35px;
			}
			.event-date {
				border-right: 1px solid #fff;
			}
			.event-place {
				border-right: 1px solid #fff;
			}
		}
		.button {
	    display: table;
	    margin: 0 auto;
	    font-weight: bold;
	    text-transform: uppercase;
			background-color: #d26b48;	    
			&:hover {
				background-color: #e2a06e;
			}
		}
	}
	.event-bg-image {
		position:absolute;
		width: 100%;
		height:100%;
		background-size: cover;
		z-index: 0;
	}
	.foreground-img {
		position: relative;
		z-index: 1;
	}
	
	// Booking
		.booking-info {
			z-index: 1;
			position: relative;
	    padding: 50px 0 50px 0px;
			h2 {
				font-family: 'Roboto Slab', serif;
				line-height: 35px;
				text-transform: uppercase;
				text-align: right;
				color: #fff;
			}
			p {
				color: #fff;
				margin-bottom: 25px;
				font-family: 'Raleway', sans-serif;		
				text-align: right;						
			}	
			.secondary {
				border: 1px solid #fff;
				color: #fff;
				margin-right: 0;
				&:hover {
					border: 1px solid rgba(255, 255, 255, 0.7);
					color: rgba(255, 255, 255, 0.7);				
				}
			}	
			.button {
				float: right;
			}    			
		}
	
}

.book-talks-section {
	padding: 35px;
	position:relative;
	background: rgba(247,249,250,1);
	background: -moz-linear-gradient(-45deg, rgba(247,249,250,1) 0%, rgba(167,193,212,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(247,249,250,1)), color-stop(100%, rgba(167,193,212,1)));
	background: -webkit-linear-gradient(-45deg, rgba(247,249,250,1) 0%, rgba(167,193,212,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(247,249,250,1) 0%, rgba(167,193,212,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(247,249,250,1) 0%, rgba(167,193,212,1) 100%);
	background: linear-gradient(135deg, rgba(247,249,250,1) 0%, rgba(167,193,212,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#a7c1d4', GradientType=1 );	
	h3 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    text-transform: uppercase;
    color: #167ac6;
    padding-bottom: 20px;
    padding-top: 15px;
	}
	.page-title span:before, .page-title span:after {
		content: "";
		position: absolute;
		height: 5px;
		border-bottom: 1px dotted #666;
		border-top: 1px dotted #666;
		top: 21px;
		width: 100px;
	}	
	.slick-list {
		overflow: visible !important;
	}
	.book-talk-item {
		float:left !important;
		width:100%;
		background: #fff;
		margin: 7.5px;
		padding: 25px;
    box-shadow: 0px 9px 55px -7px rgba(0, 0, 0, 0.53);
    min-height: 300px;
		cursor: -webkit-grab; cursor: -moz-grab;
		&:focus{
			cursor: -webkit-grabbing; cursor: -moz-grabbing;			
		}
		.book-talk-date {
	    padding-bottom: 10px;
	    font-family: 'Roboto Slab', serif;			
		}
		hr {
	    width: 20%;
	    border: 1px solid #167ac6;
	    float: left;			
	    margin: 0;
		}
		.book-talk-location {
			float: left;
			width: 100%;
			font-family: 'Raleway', sans-serif;	
			color: #666;		
			padding-left: 19px;
		} 
		.book-talk-description {
			float: left;
			font-family: 'Raleway', sans-serif;				
			width: 100%;			
	    padding-top: 15px;				
		}
		.book-talk-city {
			font-family: 'Raleway', sans-serif;				
	    float: left;
	    width: 100%;
	    color: #666;
	    padding-top: 15px;		
	    i {
		    margin-right:10px;
	    }	
		}
	}
	.book-talks-left, .book-talks-right {
		font-size: 2.5rem;
		position: absolute;
		display: block;
	  z-index:3;		
		i {
    	color: rgba(102, 102, 102, 0.75);		
		  top: 50%; 
		  cursor: pointer; 		   		
		}
	}		
	.book-talks-left {
		left: 20px;
		top: 50%;
		z-index:2;		
	}
	.book-talks-right {
		right: 20px;
		top: 50%;
		z-index:2;		
	}
	.slick-arrow {
		display: none !important;
	}
	a {
    float: left;
    padding-top: 20px;
    width: 100%;		
	}	
}

.single-book-talks {
	.page-title.mobile {
		display:none;
	}
	#inner-content {
		margin-bottom: 25px;
		.book-talk-city {
			font-size: 1.2rem;
			i {
				padding-right:15px;
			}
		}
		.book-talk-location{
		  padding: 25px;
		  background: rgba(221, 221, 221, 0.45);
		  color: #000;
	    float: left;
	    width: 100%;
	    font-family: 'Raleway', sans-serif; 
	    margin-bottom: 15px;
		}
	}
}

.signup-form-section {
	background: #73b1c0;
	padding: 25px 0;
	h4 {
		text-align: center;
		border-bottom: 1px solid #666;
		padding-bottom: 15px;
		font-family: 'Roboto Slab', serif;				
		width: 75%;
		margin: 0 auto 25px auto;
		text-transform: uppercase;
		color: #fff;
	}
	h5 {
		padding-bottom: 25px;
		text-align: center;
		color: #fff;
	}
	input[type=submit] {
		width: 100%;
		height: 2.4375rem;		
		border: 1px solid rgba(255, 255, 255, 0.32);
		color: #fff;
	}
	.mc4wp-response {
    float: left;
    text-align: center;
    width: 100%;
    padding: 0 15px;
    color: #fff;
		font-family: 'Roboto Slab', serif;	    
	}
}

.book-carousel {
	padding: 45px 0;
	position: relative;
	.book-item {
		position: relative;		
		.book-img {
			margin: 0 auto;
			display: table;
			position:relative;
			margin-top: 23px;
			img {
				height: 250px;
				width: auto;
			}
		}
		.button {
			width: auto;
			margin: 20px auto 25px auto;
			display: block;			
		}
		.new-book {
	    position: absolute;
	    top: 1px;
	    left: 14%;
	    background: url(../images/new-icon.png);
	    width: 70px;
	    height: 70px;
	    background-size: 100%;
	    text-indent: -9999px;
	    z-index: 1;
		}
		.book-info {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 78%;
			background: rgba(68, 83, 98, 0.95);
			color: #fff;
	    z-index: 3;			
	    padding: 8% 10%;
	    display: none;
	    cursor: pointer;
	    a {
				text-decoration: underline;
				font-weight: bold;
				color: #e2a06e;
	    }
			.review {
				font-style: italic;
				float:left;
			}
			.source {
				font-weight: bold;
				float:left;
				margin-top:5px;
			}		    
		}
	}
}
.book-carousel-section {
	position: relative;
	display: none;	
	.slick-arrow {
		display: none !important;
	}
	.books-opaque-left, .books-opaque-right {
		font-size: 2rem;
		position: absolute;
	  z-index:1;		
		i {
    	color: rgba(102, 102, 102, 0.34);		
		  top: 50%; 
		  position: absolute;   
		  z-index:2;		   		
		}
	}	
	.books-opaque-left {
/*
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(30%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );	
*/
	  width: 80px;
	  float: left;
	  height: 100%;
	  display: block;
	  position: absolute;
	  top: 0;			
	  i {
		  float: left;
		  margin-left: 20px;		  
	  }
	}
	.books-opaque-right {
/*
		background: rgba(255,255,255,0);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.47) 31%, rgba(255,255,255,1) 66%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(31%, rgba(255,255,255,0.47)), color-stop(66%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.47) 31%, rgba(255,255,255,1) 66%);
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.47) 31%, rgba(255,255,255,1) 66%);
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.47) 31%, rgba(255,255,255,1) 66%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.47) 31%, rgba(255,255,255,1) 66%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
*/
	  width: 80px;
	  float: right;
	  height: 100%;
	  display: block;
	  position: absolute;
	  top: 0;			
	  right: 0;
	  i {
		  float: right;
		  margin-right: 20px;
	  }
	}	
}

.logo-row {
	background: #f3f3f3;
	padding: 35px 0;
	h4 {
		text-align: center;
		border-bottom: 1px solid #666;
		padding-bottom: 15px;
		font-family: 'Roboto Slab', serif;				
		width: 75%;
		margin: 0 auto 25px auto;
		text-transform: uppercase;
		color: #167ac6;
	}	
	.as-seen-logo {
		float:left;
	}
	img {
		 margin:0 auto;
		 display: block;
		 padding: 5px;
	}		
}

.resources-section {
	background: rgba(213,227,243,1);
	background: -moz-linear-gradient(-45deg, rgba(213,227,243,1) 0%, rgba(118,155,181,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(213,227,243,1)), color-stop(100%, rgba(118,155,181,1)));
	background: -webkit-linear-gradient(-45deg, rgba(213,227,243,1) 0%, rgba(118,155,181,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(213,227,243,1) 0%, rgba(118,155,181,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(213,227,243,1) 0%, rgba(118,155,181,1) 100%);
	background: linear-gradient(135deg, rgba(213,227,243,1) 0%, rgba(118,155,181,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3f3', endColorstr='#769bb5', GradientType=1 );
	.resource-col {
		padding-top:35px;
		p {
			margin: 0;
		}
		h4 {
			color: #167ac6;
			font-family: 'Roboto Slab', serif;		
			text-align: center;
			padding-bottom: 5px;
		}	
		.inner-column {
			background: rgba(255, 255, 255, 0.49);
	    min-height: 440px;			
			h5 {
				font-family: 'Raleway', sans-serif;		
				font-weight: 500;				
				font-size: 1.4rem;
				float: left;
				margin-bottom: 15px;
				span {
					border-bottom:1px dotted #999;
					padding-bottom: 1px;
					a {
						color: #167ac6;						
					}
				}
			}
			img {
				display: block;
				margin: 0 auto;
				width: 100%;
			}
			.button {
				width: 100%;
				bottom: 0;
			}
		}
	}
	.show-for-large {
		padding-bottom: 55px;
		.button {
			width:100%;
		}
	}
	.recent-cols {
		.inner-column {
			background: rgba(255, 255, 255, 0.49);
			padding: 15px 20px 30px 20px;
			min-height: 440px;			
			.blog-post-date {
				padding-bottom: 10px;
				font-family: 'Roboto Slab', serif;				
			}
			hr {
		    width: 20%;
		    margin: 0 0 15px 0;
		    border: 1px solid #167ac6;
		    float: left;
			}
			.blog-text {
				a {
					color: #167ac6;					
				}
			}		
			.share {
				float: right;
				margin-top:15px;
			}	
		}
	}	
	.book-speak {
		p {
			padding: 20px;
		}
	}
	.upcoming-events {
		.inner-column {
			padding:20px;
			overflow: hidden;
			min-height: 440px;
			a {
				border-bottom: 1px dotted blue;
				color: #000;
				transition: .2s all;
				&:hover {
					color: #666;
				}
			}
			strong {
				color: #167ac6;
				font-family: 'Roboto Slab', serif;						
			}
		}
		p {
			margin-bottom: 0;
			padding: 10px 20px;
		}
	}
}

.page-template-page-appearances {
	#main {
		margin-bottom:75px;
		.top-text {
			font-family: 'Raleway', sans-serif;	
			text-align: center;
			font-size:1.4rem;
		}
	}
}
.appearance, .column-post {
	min-height: 175px;
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 15px; 
	border-bottom: 1px solid #ddd;
	margin-bottom: 45px;
	h3,h4,h5 {
		font-family: 'Roboto Slab', serif;		
		color: #167ac6;	
		line-height: 1.4rem;
	}
	.media-date, .column-post-date {
		padding-bottom: 10px; 		
		font-family: 'Roboto Slab', serif;	
		color: #cacaca;
		font-weight: bold;
	}
	.media-img, .column-img {
		float:left; 
		padding-right:20px;
	}
	.media-text, .column-text {
/* 		padding-left: 170px; */
	}
}



.about-jeff-section {
	padding: 70px 0;
	.about-jeff-text {
		padding-bottom: 25px;
		h4 {
	    padding-bottom: 10px;
	    width: 100%;			
			font-family: 'Roboto Slab', serif;				    	
		}
		.about-jeff-photo {
			width: 180px;
	    float: left;
	    border-radius: 50%;
	    overflow: hidden;
	    border: 5px solid #fff;
	    box-shadow: 0px 0px 1px #000;
	    margin-top: 10px;	
    }
		.about-text {
	    display: table;
	    border-top: 1px solid rgba(22, 122, 198, 0.28);
	    padding-top: 20px;
		}
	}
	.about-video {
		.flex-video {
			height: auto;	
			padding: 0;			
			iframe {
				height: 225px;
				width: 80%;
				margin: 0 auto;
				display: table;
				position: relative;				
			}
		}
	}
}

// Single Book
.single-book {
	#inner-content {
		padding:40px 0 !important;
		.book-title {
			font-family: 'Roboto Slab', serif;
			line-height: 35px;
			text-transform: uppercase;		
		}
		.book-subtitle {
			margin-bottom: 25px;
			font-family: 'Raleway', sans-serif;	
			color: #666;			
		}
		.book-summary {
			margin-bottom: 25px;			
		}
		.book-image {
			img {
				width: 250px;
			}
		}
		.purchase-book {
			i {
				margin-left: 15px;
			}
		}
		.share-book {
			i {
				margin-left: 15px;
			}			
		}
		.purchase-options {
			padding: 0;
			width: 200px;
			.book-purchase {
				width: 100%;
				border-bottom: 1px solid #ddd;
				display: block;
				padding: 10px;
				&:last-of-type {
					border-bottom: 0px solid #ddd;
				}
			}
		}		
		.share-options {
			padding: 0;
			width: 180px;
			.book-share {
				width: 100%;
				border-bottom: 1px solid #ddd;
				display: block;
				padding: 10px;
				&:last-of-type {
					border-bottom: 0px solid #ddd;
				}
				i {
					margin-left:10px;
					float: right;
					font-size: 28px;
				}
				.fa-facebook-square {
					color: #3b5998;
				}
				.fa-twitter-square {
					color: #55acee;
				}
				.fa-google-plus-square {
					color: #dd4b39;
				}
				.fa-linkedin-square {
					color: #007bb5;					
				}
			}
		}
		.tabs {
			margin-top:25px;
			border-bottom: 1px solid #e6e6e6;
			border-top: none;
			border-right: none;
			a {
				border-top: 1px solid #ddd;
				border-right: 1px solid #ddd;			
				color: #666;
				font-size: .8rem;	
			}
		}
		.book-review{
			display: inline-block;
			width:100%;
			border-bottom: 1px solid #ddd;
			padding: 15px;
			.review {
				font-style: italic;
				float:left;
			}
			.source {
				font-weight: bold;
				float:left;
			}			
			&:last-of-type {
				border-bottom: 0px solid #ddd;
			}
		}
	}
}

// About page
.page-template-page-about-php {
	main {
		padding-bottom: 25px;
	}
}

// Speaking 
.page-template-page-speaking {
	h3 {
		font-family: 'Roboto Slab', serif;		
		text-transform: uppercase;
		color: #167ac6;		
	}
	.speak-top-wrap {
		padding: 120px;
		font-family: 'Raleway', sans-serif;
		background: url(../images/jeff-speaking.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		font-size: 1.4rem;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
	}
	.upcoming-events {
		padding-bottom: 25px;
		.upcoming-title {
			border-bottom: 1px solid #ddd;
		}
	}
	.past-events {
		padding-top: 25px;
	}
	.bottom-body {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.tabs {
		margin-top:25px;
		border-bottom: 1px solid #e6e6e6;
		border-top: none;
		border-right: none;
		a {
			border-top: 1px solid #ddd;
			border-right: 1px solid #ddd;			
			color: #666;
			font-size: .8rem;	
		}
	}	
	.tabs-content {
		margin-bottom: 25px;
	}
	.speaking-videos {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddddd+0,ffffff+100&1+0,0+70 */
		background: -moz-linear-gradient(-45deg,  rgba(221,221,221,1) 0%, rgba(245,245,245,0) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  rgba(221,221,221,1) 0%,rgba(245,245,245,0) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  rgba(221,221,221,1) 0%,rgba(245,245,245,0) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		padding-top: 45px;
		padding-bottom: 45px;
		margin: 25px 0;
		position: relative;
		h3.video-heading {
	    margin-bottom: 40px;
	    text-align: center;			
		}
		h3.video-title {
			font-family: 'Raleway', sans-serif;	
			text-transform: uppercase;
			color: #666;			
		}
		.vid-img {
			width:100%;
			height:300px;
			display: block;
			cursor: pointer;
		}
		.flex-video {
			padding-bottom: 49%;
			iframe {
				height: 300px;
			}			
		}
	}
	.speaking-opaque-left {
		left:25px;
		top:50%;
		position: absolute;
		font-size: 2rem;
		color: rgba(102, 102, 102, 0.34);		
		cursor: pointer;
		z-index:1;
	}
	.speaking-opaque-right {
		right:25px;
		top:50%;
		position: absolute;		
		font-size: 2rem;
		color: rgba(102, 102, 102, 0.34);		
		cursor: pointer;
		z-index:1;		
	}	
	.slick-arrow {
		display: none !important;
	}
	.slick-dots {
		list-style-type: none;
		list-style: none;
		margin:0;
    display: table;
    margin: 0 auto;	
    padding-top: 45px;	
		li {
			float:left;
			margin:5px;
			button {
		    border: 1px solid #666;
		    border-radius: 50%;
		    width: 18px;
		    text-indent: -9999px;			
			}				
		}	
		li.slick-active {
			button {		
		    background: #666;	
			}					
		}
		li:hover{
			button {		
		    background: rgba(102, 102, 102, 0.4);	
			}					
		}		
	}
}

.page-template-page-contact {
	#main {
		font-family: 'Raleway', sans-serif;	
		color: #666;
		font-size: 1.5rem;					
	}
	.your-message {
		height: 150px;		
	}
	form {
		padding-bottom: 45px;
			input[type=submit] {
			    width: 100%;
			    height: 2.4375rem;
			    border: 1px solid rgba(255, 255, 255, 0.32);
			    color: #fff;
			}		
	}
}

.pre-footer {
	background: #d7d7d7;
	padding-bottom: 25px;
	h4 {
		border-bottom: 1px solid #666;
		font-family: 'Roboto Slab', serif;	
		padding-bottom: 10px;
		padding-top: 25px;		
    float: left;
    width: 100%;			
	}
	.menu {
		margin: 10px 0;
		float: left;
		.menu-item {
			float: left;
			width: 100%;
			border-bottom: 1px solid rgba(153, 153, 153, 0.59);	
			transition: .3s all;		
			i {
				float: right;
				color: #666;
			}	
			&:hover {
				background: rgba(153, 153, 153, 0.59);	
			}		
		}
	}
	.footer-contact {
		.contact-text {
			padding-bottom: 20px;
		}
		.your-message {
			resize: none;
			height: 180px;
		}
		input[type=submit] {
			width: 100%;
			height: 2.4375rem;		
			border: none;
			color: #fff;
		}
	}
}

.footer-social {
	font-size: 2rem;
	margin-right:5px;
}

.tweet {
	float:left;
	border-bottom: 1px solid #c0c0c0;
	padding: 10px 0;
	font-size: 14px;
	.prof-img {
		padding: 0;
	}
	.tweet-info {
		padding: 0;
		.tweet-top {
			float: left;
			width: 100%;
			padding-bottom: 10px;			
			.name {
				float: left;
				font-weight: bold;
			}
			.userid {
				float: left;		
			}
		}
	}	
	.intents {
		padding-top:10px;
		a {
			color: #969696;
		}
		.reply {
			a {
				transition: .2s all;
				&:hover {
					color: #009999;
				}
			}
		}		
		.retweet {
			a {
				transition: .2s all;
				&:hover {
					color: #5C913B;
				}
			}
		}		
		.favorite {
			a {
				transition: .2s all;
				&:hover {
					color: #E2264D;
				}
			}
		}
	}
}

// Book page
.page-template-page-books {
	.book-promo-img {
		position: relative;
		z-index:1;
	  padding-top: 20px;	
	  padding-bottom: 70px;	
	  a {
		  color: #000;
	  }	  	
		img {
	    height: 90%;				
	    width: 90%;
	    float: right;
	    box-shadow: 0px 9px 55px -7px;
		}
	}
	.book-bg-image {
		position:absolute;
		width: 100%;
		height:100%;
		background-size: cover;
		z-index: 0;		
	}
	.book-promo-info {
		position: relative;
		z-index: 1;
	  padding-top: 20px;	
	  padding-bottom: 20px;			
		h2 {
			font-family: 'Roboto Slab', serif;
			line-height: 35px;
			text-transform: uppercase;
			text-align: left;
			color: #435766;
		}	
		h5, h4 {
			font-family: 'Raleway', sans-serif;
			color: #666;			
			margin-bottom: 25px;			
			font-weight: 500;
		}
		h4 {
			text-transform: uppercase;
			color: #1583CC;
		}
		.secondary {
			border: 1px solid #666;
			color: #666;
			&:hover {
				border: 1px solid rgba(102, 102, 102, 0.6);
				color: rgba(102, 102, 102, 0.6);			
			}
		}	
		p {
			color: #a4a4a4;
			margin-bottom: 25px;
		}
		.feature-purchase-book {
			i {
				margin-left: 15px;
			}
		}
		.purchase-options {
			padding: 0;
			width: 200px;
			.book-purchase {
				width: 100%;
				border-bottom: 1px solid #ddd;
				display: block;
				padding: 10px;
				&:last-of-type {
					border-bottom: 0px solid #ddd;
				}
			}
		}
		.book-blurb-section {
			.book-blurb-carousel {
				display:none;
				margin-left: 0;
				margin-top: 10px;
				background-color: rgba(0, 0, 0, 0.1);
				font-size: .9rem;
				padding: 10px;
				font-style: italic;				
				.book-blurb {
					margin-left: 0;
					.blurb-text {
						float: left;
						width: 100%;
						color: #ddd;
					}
					.blurb-author {
						float: left;
						width: 100%;
						color: #EAF5F9;
						font-style: italic;
						font-weight: 600;
					}
				}
				.slick-arrow {
					display: none !important;
				}
			}
			.blurb-controls {
				float: right;
				margin-top: -20px;
				margin-right: -5px;				
				.blurb-left, .blurb-right {
					padding: 5px;
					color: #2199e8;
					cursor: pointer;
					font-size: 2rem;
				}
			}	
		}
	}
	.all-books-section {
		background: rgba(238, 238, 238, 0.58);
		padding: 30px 0;
		h4 {
			span:before, span:after {
				top:15px;
			}
		}
		.book-carousel {
			padding: 20px;
		}
	}
}

.tweet:last-of-type {
	border-bottom: 0px solid #c0c0c0;	
}

.footer {
	background: #769bb5;
	margin-top: 0;
	padding: 15px 0;
	p {
		margin: 0;
	}
}

.back-to-top {
	width: 65px;
	height: 65px;
	display: none;
	position: fixed;
	bottom: 60px;
	z-index: 9999;
	background: url(../images/icon-3.png) no-repeat;
	cursor: pointer;
	background-size: contain;
	right: 0px;
	opacity: .75;
	transition:.3s all;
	i {
    font-size: 3rem;
		opacity: .65;    		
	}
}

.back-to-top:hover {
	i {
		opacity: .65;		
	}
}

.back-to-top.show {
	transition:.3s all;	
	bottom: 50px;	
	display: block;
}

.swipe {
  height: 120px;
  width: 120px;
  background: url(../images/swipe.png) no-repeat;
  position: absolute;
  top: 45%;
  background-size: cover;
  z-index: 2;
  left: 36%;
  display: none !important;
}


// Mobile Style

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
	header{
		.top-bar-left {
			.menu-text {
				padding:0;
				#logo {
					background: url(../images/logo1.png);
					display: block;
					width: 175px;
					height: 35px;
					background-size: cover;
					background-repeat: no-repeat;
					text-indent: -9999px;
					background-position: center center;
					padding: 0;
				}
			}
		}	
	}
	
	body #content {
	    padding-top: 30px;
	}	

	.page-title {
    font-size: 2rem;
		padding-top: 35px;    
    span:before, span:after {
	    border:none;
    }		
	}

	.swipe {
	  display: block !important;
	}

	.homepage-features {
		.book-promo-img {
	    position: relative;
	    z-index: 1;
	    padding-top: 50px;
	    padding-bottom: 25px;
			img {
			    height: auto;
			    width: 66%;
			    float: none;
			    box-shadow: 0px 9px 55px -7px;
			    margin: 0 auto;
			    display: block;
			}	 	  
	  }
		.book-promo-info {
		    position: relative;
		    z-index: 1;
		    padding-top: 0;
		    padding-bottom: 70px;
		}		 
	}
	
	.video-js {
    width: 100% !important;
    height: 196px !important;		
	}
	
	.about-jeff-section {
		padding: 30px 0;
		.about-jeff-text {
			padding-top: 20px;
			padding-bottom: 10px;
		}
	}
	
	.book-talk-item {
		min-height: 330px !important;
	}

	.single-book-talks {
		.page-title {
			display:none;
		}
		.page-title.mobile {
			display:block;
		}
		.page-title:nth-of-type(2) {
			padding-bottom: 0;
		}		
		.page-title:nth-of-type(3) {
			padding-top: 0;
		}
	}	
	
	.signup-form-section {
		h5 {
	    padding-bottom: 25px;
	    text-align: center;
	    color: #fff;
	    padding-left: 15px;
	    padding-right: 15px;
		}
	}	
	
	.books-right, .books-left {
		display: block !important;
	}
	
	.book-carousel-section .books-opaque-right i {
    float: right;
    margin-left: 32px;
	}	
	
	.logo-row {
		.large-up-5 {
			div {
				padding: 20px 0;
			}
		}
	}
	
	.recent-cols {
		.blog-text {
			padding-bottom:15px;
		}
	}
	
	
	.resources-section .resource-col {
		h4 {
		  font-size: 1.5rem;
		}		
		.inner-column {
			padding-bottom: 5px;
		}	
	}	

	.book-speak {
		.button {
			width: 90% !important;
			margin: 0 auto 10px auto;
			display: block;
		}
	}
	
	.upcoming-events {
		margin-bottom: 25px;
		a.button {
			color: #fff !important;
		}
	}
	
	.off-canvas-wrapper {
		background: #e6e6e6;		
	}
	
	.single-book {
		.book-title {
			text-align: center;
			font-size: 1.4rem;
		}
		#inner-content .book-image img {
			margin: 0 auto;
			display: block;
			padding-bottom: 20px;
		}
	}
	
	.about-jeff-contact {
    padding-bottom: 25px;		
	}
	
	.page-template-page-books {
		.book-promo-img {
			padding-bottom: 30px;
	    a {
		    color: #000;
	    }			
			img {
		    height: auto;
		    width: 70%;
		    float: none;
		    box-shadow: 0px 9px 55px -7px;
		    margin: 0 auto;
		    display: block;
		  }  
	  }
	}	
	
	.page-template-page-speaking {
		.speak-top-wrap {
	    padding: 0;
	    background-size: cover;
	    background-position: left top;
	  }  
	  .speaking-body-text {
		  padding: 140px;
		  p {
			  display: none;
		  }
	  }
	  .mobile-speaking-body {
		  font-family: 'Raleway', sans-serif;
		  font-size: 1.4rem;
		  padding: 15px;
	  }
		.bottom-body {
	    padding-top: 15px;
	    padding-bottom: 40px;
		}  
		.flex-video iframe {
		    height: 100% !important;
		}		
	}	
	
	.appearance {
		padding: 20px;
		h4 {
	    float: left;
	    padding-top: 15px;
	    width: 100%;			
		}
		.media-img {
	    float: left;
	    width: 100%;
	    padding: 0;
	    a {
				display: block;
				margin: 0 auto;
				padding: 0;
				img {
			    margin: 0 auto;
			    display: block;					
				}
	    }
		}
	}
	
	.column-post {
		padding: 20px;
		h4 {
	    float: left;
	    padding-top: 15px;
	    width: 100%;			
		}
		.column-img {
	    float: left;
	    width: 100%;
	    padding: 0;
	    a {
				display: block;
				margin: 0 auto;
				padding: 0;
				img {
			    margin: 0 auto;
			    display: block;					
				}
	    }
		}
	}
	
}