@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900,200,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
input[type=submit] {
  background: #d26b48;
  transition: 0.2s all; }
  input[type=submit]:hover {
    background-color: #e2a06e; }

.dropdown.menu .submenu {
  z-index: 2; }

#logo {
  background: url(../images/logo1.png);
  display: block;
  width: 275px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: center center; }

.homepage-features {
  position: relative; }
  .homepage-features .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.85;
    z-index: 1; }
  .homepage-features .book-promo-img {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    padding-bottom: 70px; }
    .homepage-features .book-promo-img img {
      height: 90%;
      width: 90%;
      float: right;
      box-shadow: 0px 9px 55px -7px; }
  .homepage-features .book-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0; }
  .homepage-features .book-promo-info {
    position: relative;
    z-index: 1;
    padding-top: 70px;
    padding-bottom: 70px; }
    .homepage-features .book-promo-info h2 {
      font-family: 'Roboto Slab', serif;
      line-height: 35px;
      text-transform: uppercase;
      text-align: left;
      color: #fff; }
    .homepage-features .book-promo-info h5 {
      font-family: 'Raleway', sans-serif;
      color: #ddd;
      margin-bottom: 25px;
      font-weight: 500; }
    .homepage-features .book-promo-info .secondary {
      border: 1px solid #fff;
      color: #fff; }
      .homepage-features .book-promo-info .secondary:hover {
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7); }
    .homepage-features .book-promo-info p {
      color: #fff;
      margin-bottom: 25px; }
    .homepage-features .book-promo-info .feature-purchase-book i {
      margin-left: 15px; }
    .homepage-features .book-promo-info .purchase-options {
      padding: 0;
      width: 200px; }
      .homepage-features .book-promo-info .purchase-options .book-purchase {
        width: 100%;
        border-bottom: 1px solid #ddd;
        display: block;
        padding: 10px; }
        .homepage-features .book-promo-info .purchase-options .book-purchase:last-of-type {
          border-bottom: 0px solid #ddd; }
  .homepage-features .event-info {
    z-index: 1;
    position: relative;
    padding: 55px 0 55px 140px; }
    .homepage-features .event-info h2 {
      font-family: 'Roboto Slab', serif;
      line-height: 35px;
      text-transform: uppercase;
      text-align: center;
      color: #fff; }
    .homepage-features .event-info h4 {
      margin-bottom: 20px;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      text-transform: uppercase;
      color: #9bb8d8;
      font-weight: bold;
      text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.6); }
      .homepage-features .event-info h4 span {
        display: inline-block;
        position: relative; }
    .homepage-features .event-info h4 span:before, .homepage-features .event-info h4 span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 2px solid #eaeaea;
      top: 13px;
      width: 100px; }
    .homepage-features .event-info h4 span:before {
      right: 100%;
      margin-right: 15px; }
    .homepage-features .event-info h4 span:after {
      left: 100%;
      margin-left: 15px; }
    .homepage-features .event-info .event-location {
      display: table;
      font-size: 0.85rem;
      margin: 0 auto;
      padding-top: 10px;
      line-height: 13px;
      font-weight: 500; }
      .homepage-features .event-info .event-location .event-location-info {
        float: left;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding: 0 20px;
        color: #fff;
        margin-bottom: 35px; }
      .homepage-features .event-info .event-location .event-date {
        border-right: 1px solid #fff; }
      .homepage-features .event-info .event-location .event-place {
        border-right: 1px solid #fff; }
    .homepage-features .event-info .button {
      display: table;
      margin: 0 auto;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #d26b48; }
      .homepage-features .event-info .button:hover {
        background-color: #e2a06e; }
  .homepage-features .event-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0; }
  .homepage-features .foreground-img {
    position: relative;
    z-index: 1; }
  .homepage-features .booking-info {
    z-index: 1;
    position: relative;
    padding: 50px 0 50px 0px; }
    .homepage-features .booking-info h2 {
      font-family: 'Roboto Slab', serif;
      line-height: 35px;
      text-transform: uppercase;
      text-align: right;
      color: #fff; }
    .homepage-features .booking-info p {
      color: #fff;
      margin-bottom: 25px;
      font-family: 'Raleway', sans-serif;
      text-align: right; }
    .homepage-features .booking-info .secondary {
      border: 1px solid #fff;
      color: #fff;
      margin-right: 0; }
      .homepage-features .booking-info .secondary:hover {
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7); }
    .homepage-features .booking-info .button {
      float: right; }

.signup-form-section {
  background: #73b1c0;
  padding: 25px 0; }
  .signup-form-section h4 {
    text-align: center;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
    font-family: 'Roboto Slab', serif;
    width: 75%;
    margin: 0 auto 25px auto;
    text-transform: uppercase;
    color: #fff; }
  .signup-form-section h5 {
    padding-bottom: 25px;
    text-align: center;
    color: #fff; }
  .signup-form-section input[type=submit] {
    width: 100%;
    height: 2.4375rem;
    border: 1px solid rgba(255, 255, 255, 0.32);
    color: #fff; }

.book-carousel {
  padding: 45px 0; }
  .book-carousel .book-item {
    position: relative; }
    .book-carousel .book-item .book-img {
      margin: 0 auto;
      display: table;
      position: relative;
      margin-top: 23px; }
      .book-carousel .book-item .book-img img {
        height: 250px;
        width: auto; }
    .book-carousel .book-item .button {
      width: auto;
      margin: 20px auto 25px auto;
      display: block; }
    .book-carousel .book-item .new-book {
      position: absolute;
      top: 1px;
      left: 14%;
      background: url(../images/new-icon.png);
      width: 70px;
      height: 70px;
      background-size: 100%;
      text-indent: -9999px;
      z-index: 1; }
    .book-carousel .book-item .book-info {
      position: absolute;
      top: 0;
      width: 100%;
      height: 78%;
      background: rgba(68, 83, 98, 0.95);
      color: #fff;
      z-index: 2;
      padding: 8% 10%;
      display: none;
      cursor: pointer; }
      .book-carousel .book-item .book-info a {
        text-decoration: underline;
        font-weight: bold;
        color: #e2a06e; }
      .book-carousel .book-item .book-info .review {
        font-style: italic;
        float: left; }
      .book-carousel .book-item .book-info .source {
        font-weight: bold;
        float: left;
        margin-top: 5px; }

.resources-section {
  background: #d5e3f3;
  background: -moz-linear-gradient(-45deg, #d5e3f3 0%, #769bb5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #d5e3f3), color-stop(100%, #769bb5));
  background: -webkit-linear-gradient(-45deg, #d5e3f3 0%, #769bb5 100%);
  background: -o-linear-gradient(-45deg, #d5e3f3 0%, #769bb5 100%);
  background: -ms-linear-gradient(-45deg, #d5e3f3 0%, #769bb5 100%);
  background: linear-gradient(135deg, #d5e3f3 0%, #769bb5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e3f3', endColorstr='#769bb5', GradientType=1 ); }
  .resources-section .resource-col {
    padding-top: 35px; }
    .resources-section .resource-col h4 {
      color: #167ac6;
      font-family: 'Roboto Slab', serif;
      text-align: center;
      border-bottom: 1px solid rgba(22, 122, 198, 0.28);
      padding-bottom: 5px; }
    .resources-section .resource-col .inner-column {
      /* 	padding: 15px 20px; */ }
      .resources-section .resource-col .inner-column h5 {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1.4rem;
        float: left;
        margin-bottom: 15px; }
        .resources-section .resource-col .inner-column h5 span {
          border-bottom: 1px dotted #999;
          padding-bottom: 1px; }
          .resources-section .resource-col .inner-column h5 span a {
            color: #167ac6; }
      .resources-section .resource-col .inner-column img {
        display: block;
        margin: 0 auto; }
      .resources-section .resource-col .inner-column p {
        background: rgba(255, 255, 255, 0.49);
        padding: 20px; }
      .resources-section .resource-col .inner-column .button {
        width: 100%;
        bottom: 0; }
  .resources-section .show-for-large {
    padding-bottom: 55px; }
    .resources-section .show-for-large .button {
      width: 100%; }
  .resources-section .recent-cols .inner-column {
    background: rgba(255, 255, 255, 0.49);
    padding: 15px 20px 30px 20px; }
    .resources-section .recent-cols .inner-column .blog-post-date {
      padding-bottom: 10px;
      font-family: 'Roboto Slab', serif; }
    .resources-section .recent-cols .inner-column hr {
      width: 20%;
      margin: 0 0 15px 0;
      border: 1px solid #167ac6;
      float: left; }
    .resources-section .recent-cols .inner-column .blog-text a {
      color: #167ac6; }
    .resources-section .recent-cols .inner-column .share {
      float: right;
      margin-top: 15px; }

.about-jeff-section {
  padding: 35px 0; }
  .about-jeff-section .about-jeff-text {
    padding-bottom: 25px; }
    .about-jeff-section .about-jeff-text h4 {
      padding-bottom: 10px;
      width: 100%; }
    .about-jeff-section .about-jeff-text .about-jeff-photo {
      width: 180px;
      float: left;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #fff;
      box-shadow: 0px 0px 1px #000;
      margin-top: 10px; }
    .about-jeff-section .about-jeff-text .about-text {
      padding-left: 20px;
      display: table;
      border-top: 1px solid #666;
      padding-top: 20px; }
  .about-jeff-section .about-video .flex-video {
    height: 300px;
    padding: 0; }
    .about-jeff-section .about-video .flex-video iframe {
      height: 225px;
      width: 80%;
      margin: 0 auto;
      display: table;
      position: relative; }

.single-book #inner-content {
  padding: 40px 0 !important; }
  .single-book #inner-content .book-title {
    font-family: 'Roboto Slab', serif;
    line-height: 35px;
    text-transform: uppercase; }
  .single-book #inner-content .book-subtitle {
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    color: #666; }
  .single-book #inner-content .book-summary {
    margin-bottom: 25px; }
  .single-book #inner-content .book-image img {
    width: 250px; }
  .single-book #inner-content .purchase-book i {
    margin-left: 15px; }
  .single-book #inner-content .share-book i {
    margin-left: 15px; }
  .single-book #inner-content .purchase-options {
    padding: 0;
    width: 200px; }
    .single-book #inner-content .purchase-options .book-purchase {
      width: 100%;
      border-bottom: 1px solid #ddd;
      display: block;
      padding: 10px; }
      .single-book #inner-content .purchase-options .book-purchase:last-of-type {
        border-bottom: 0px solid #ddd; }
  .single-book #inner-content .share-options {
    padding: 0;
    width: 180px; }
    .single-book #inner-content .share-options .book-share {
      width: 100%;
      border-bottom: 1px solid #ddd;
      display: block;
      padding: 10px; }
      .single-book #inner-content .share-options .book-share:last-of-type {
        border-bottom: 0px solid #ddd; }
      .single-book #inner-content .share-options .book-share i {
        margin-left: 10px;
        float: right;
        font-size: 28px; }
      .single-book #inner-content .share-options .book-share .fa-facebook-square {
        color: #3b5998; }
      .single-book #inner-content .share-options .book-share .fa-twitter-square {
        color: #55acee; }
      .single-book #inner-content .share-options .book-share .fa-google-plus-square {
        color: #dd4b39; }
      .single-book #inner-content .share-options .book-share .fa-linkedin-square {
        color: #007bb5; }
  .single-book #inner-content .tabs {
    margin-top: 25px;
    border-bottom: 1px solid #e6e6e6;
    border-top: none;
    border-right: none; }
    .single-book #inner-content .tabs a {
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      color: #666;
      font-size: 0.8rem; }
  .single-book #inner-content .book-review {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 15px; }
    .single-book #inner-content .book-review .review {
      font-style: italic;
      float: left; }
    .single-book #inner-content .book-review .source {
      font-weight: bold;
      float: left; }
    .single-book #inner-content .book-review:last-of-type {
      border-bottom: 0px solid #ddd; }

.pre-footer {
  background: #d7d7d7;
  padding-bottom: 25px; }
  .pre-footer h4 {
    border-bottom: 1px solid #666;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 10px;
    padding-top: 25px;
    float: left;
    width: 100%; }
  .pre-footer .menu {
    margin: 10px 0;
    float: left; }
    .pre-footer .menu .menu-item {
      float: left;
      width: 100%;
      border-bottom: 1px solid rgba(153, 153, 153, 0.59);
      transition: 0.3s all; }
      .pre-footer .menu .menu-item i {
        float: right;
        color: #666; }
      .pre-footer .menu .menu-item:hover {
        background: rgba(153, 153, 153, 0.59); }
  .pre-footer .footer-contact .contact-text {
    padding-bottom: 20px; }
  .pre-footer .footer-contact .your-message {
    resize: none;
    height: 180px; }
  .pre-footer .footer-contact input[type=submit] {
    width: 100%;
    height: 2.4375rem;
    border: none;
    color: #fff; }

.tweet {
  float: left;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 0;
  font-size: 14px; }
  .tweet .prof-img {
    padding: 0; }
  .tweet .tweet-info {
    padding: 0; }
    .tweet .tweet-info .tweet-top {
      float: left;
      width: 100%;
      padding-bottom: 10px; }
      .tweet .tweet-info .tweet-top .name {
        float: left;
        font-weight: bold; }
      .tweet .tweet-info .tweet-top .userid {
        float: left; }
  .tweet .intents {
    padding-top: 10px; }
    .tweet .intents a {
      color: #969696; }
    .tweet .intents .reply a {
      transition: 0.2s all; }
      .tweet .intents .reply a:hover {
        color: #009999; }
    .tweet .intents .retweet a {
      transition: 0.2s all; }
      .tweet .intents .retweet a:hover {
        color: #5C913B; }
    .tweet .intents .favorite a {
      transition: 0.2s all; }
      .tweet .intents .favorite a:hover {
        color: #E2264D; }

.tweet:last-of-type {
  border-bottom: 0px solid #c0c0c0; }

.footer {
  background: #5c73b6;
  margin-top: 0;
  padding: 15px 0; }
  .footer p {
    margin: 0; }
