@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900,200,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
.button {
  background: #689cd5; }

.homepage-features {
  position: relative; }
  .homepage-features .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    z-index: 1; }
  .homepage-features .event-info {
    z-index: 1;
    position: relative;
    padding: 50px 0; }
    .homepage-features .event-info h2 {
      font-family: 'Roboto Slab', serif;
      line-height: 35px;
      text-transform: uppercase;
      text-align: center;
      color: #fff; }
    .homepage-features .event-info h4 {
      margin-bottom: 20px;
      font-family: 'Raleway', sans-serif;
      text-align: center;
      text-transform: uppercase; }
      .homepage-features .event-info h4 span {
        display: inline-block;
        position: relative; }
    .homepage-features .event-info h4 span:before, .homepage-features .event-info h4 span:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 2px solid #fff;
      top: 13px;
      width: 100px; }
    .homepage-features .event-info h4 span:before {
      right: 100%;
      margin-right: 15px; }
    .homepage-features .event-info h4 span:after {
      left: 100%;
      margin-left: 15px; }
    .homepage-features .event-info .event-location {
      display: table;
      font-size: 0.85rem;
      margin: 0 auto;
      padding-top: 10px;
      line-height: 13px; }
      .homepage-features .event-info .event-location .event-location-info {
        float: left;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        padding: 0 20px;
        color: #fff;
        margin-bottom: 35px; }
      .homepage-features .event-info .event-location .event-date {
        border-right: 1px solid #fff; }
      .homepage-features .event-info .event-location .event-place {
        border-right: 1px solid #fff; }
    .homepage-features .event-info .button {
      display: table;
      margin: 0 auto;
      font-weight: bold;
      text-transform: uppercase; }
  .homepage-features .event-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0; }

.signup-form-section {
  background: #73b1c0;
  padding: 25px 0; }
  .signup-form-section h4 {
    text-align: center;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
    width: 75%;
    margin: 0 auto 25px auto;
    color: #fff; }
  .signup-form-section h5 {
    padding-bottom: 25px;
    text-align: center;
    color: #fff; }
  .signup-form-section input[type=submit] {
    width: 100%;
    background: #689cd5;
    height: 2.4375rem;
    border: 1px solid rgba(255, 255, 255, 0.32);
    color: #fff; }

.book-carousel {
  padding: 45px 0; }
  .book-carousel .book-item {
    position: relative; }
    .book-carousel .book-item .book-img {
      margin: 0 auto;
      display: table;
      position: relative;
      margin-top: 23px; }
      .book-carousel .book-item .book-img img {
        height: 250px;
        width: auto; }
    .book-carousel .book-item .button {
      width: auto;
      margin: 20px auto 25px auto;
      display: block; }
    .book-carousel .book-item .new-book {
      position: absolute;
      top: 1px;
      left: 14%;
      background: url(../images/new-icon.png);
      width: 70px;
      height: 70px;
      background-size: 100%;
      text-indent: -9999px;
      z-index: 1; }
    .book-carousel .book-item .book-info {
      position: absolute;
      top: 0;
      width: 100%;
      height: 78%;
      background: rgba(68, 83, 98, 0.95);
      color: #fff;
      z-index: 2;
      padding: 8% 10%;
      display: none; }
      .book-carousel .book-item .book-info a {
        text-decoration: underline;
        font-weight: bold;
        color: #e2a06e; }

.about-jeff-section {
  padding: 35px 0; }
  .about-jeff-section .about-jeff-text {
    padding-bottom: 25px; }
    .about-jeff-section .about-jeff-text h4 {
      padding-bottom: 10px;
      width: 100%; }
    .about-jeff-section .about-jeff-text .about-jeff-photo {
      width: 180px;
      float: left;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #fff;
      box-shadow: 0px 0px 1px #000;
      margin-top: 10px; }
    .about-jeff-section .about-jeff-text .about-text {
      padding-left: 20px;
      display: table;
      border-top: 1px solid #666;
      padding-top: 20px; }
  .about-jeff-section .about-video .flex-video {
    height: 300px;
    padding: 0; }
    .about-jeff-section .about-video .flex-video iframe {
      height: 225px;
      width: 80%;
      margin: 0 auto;
      display: table;
      position: relative; }

.pre-footer {
  background: #d7d7d7;
  padding-bottom: 25px; }
  .pre-footer h4 {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    padding-top: 25px;
    float: left;
    width: 100%; }
  .pre-footer .menu {
    margin: 10px 0;
    float: left; }
    .pre-footer .menu .menu-item {
      float: left;
      width: 100%;
      border-bottom: 1px solid rgba(153, 153, 153, 0.59);
      transition: 0.3s all; }
      .pre-footer .menu .menu-item i {
        float: right;
        color: #666; }
      .pre-footer .menu .menu-item:hover {
        background: rgba(153, 153, 153, 0.59); }
  .pre-footer .footer-contact .contact-text {
    padding-bottom: 20px; }
  .pre-footer .footer-contact .your-message {
    resize: none;
    height: 180px; }
  .pre-footer .footer-contact input[type=submit] {
    width: 100%;
    background: #689cd5;
    height: 2.4375rem;
    border: none;
    color: #fff; }

.tweet {
  float: left;
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 0;
  font-size: 14px; }
  .tweet .prof-img {
    padding: 0; }
  .tweet .tweet-info {
    padding: 0; }
    .tweet .tweet-info .tweet-top {
      float: left;
      width: 100%;
      padding-bottom: 10px; }
      .tweet .tweet-info .tweet-top .name {
        float: left;
        font-weight: bold; }
      .tweet .tweet-info .tweet-top .userid {
        float: left; }
  .tweet .intents {
    padding-top: 10px; }
    .tweet .intents a {
      color: #969696; }
    .tweet .intents .reply a {
      transition: 0.2s all; }
      .tweet .intents .reply a:hover {
        color: #009999; }
    .tweet .intents .retweet a {
      transition: 0.2s all; }
      .tweet .intents .retweet a:hover {
        color: #5C913B; }
    .tweet .intents .favorite a {
      transition: 0.2s all; }
      .tweet .intents .favorite a:hover {
        color: #E2264D; }

.tweet:last-of-type {
  border-bottom: 0px solid #c0c0c0; }

.footer {
  background: #5c73b6;
  margin-top: 0;
  padding: 15px 0; }
  .footer p {
    margin: 0; }
